.root {
	background-color: blue;
}

.chat {
	text-align: left;
	float: left;
	margin: 0px 20px 2px 0px;
	background-color: lavender;
}

.response {
	text-align: right;
	float: right;
	margin: 0px 0px 2px 20px;
	background-color: pink;
}

.chat + .response {
	border-bottom-right-radius: 8px;
}

.response + .response {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.response:last-of-type {
	border-bottom-right-radius: 20px;
}

#chatList {
	position: absolute;
	bottom: 70px;
}

.chatbox {
	background-color: whitesmoke;
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 500px;
	padding: 5px;
	border: none;
	border-radius: 10px;
	margin: 20px;
}

.button {
	display: inline-block;
	position: fixed;
	bottom: 0;
	left: 455px;
	background-color: orchid;
	color: white;
	text-align: center;
	padding: 5px 15px;
	margin-left: 0px;
	border: none;
	border-radius: 5px;
}

ul {
	width: 500px;
	vertical-align: bottom;
}

ul li {
	display: inline-block;
	max-width: 400px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	clear: both;
	padding: 10px;
	border-radius: 20px;
}

