.root {
	background-color: blue;
}

.h1 {
	text-align: center;
}

.chat {
	list-style-type: none;
	text-align: left;
	float: left;
	margin: 0px 20px 2px 0px;
	background-color: lavender;
}

.response {
	list-style-type: none;
	text-align: right;
	float: right;
	margin: 0px 0px 2px 20px;
	background-color: pink;
}

.chat + .response {
	border-bottom-right-radius: 8px;
}

.response + .response {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.response:last-of-type {
	border-bottom-right-radius: 20px;
}

.chatbox {
	width: 500px;
	border-radius: 5px;
	margin: 20px;
}

ul {
	list-style: none;
	width: 500px;
}

ul li {
	display: inline-block;
	clear: both;
	padding: 10px;
	border-radius: 20px;
}

