.root
{
	background-color: grey;
}

.chat{
	list-style-type: none;
	background-color: lavender;
}

.response{
	list-style-type: none;
	text-align: right;
	padding: 20px 20px 20px 20px;
	background-color: lavenderblush;
}

.chatbox{
	width:500px;
	margin: 20px 20px 20px 20px;
}
ul{
	width: 500px;
	word-wrap: break-word;

}